<!DOCTYPE html>
<html>
	<head>
		<title>
			Ruby on Rails Tutorial App | About
		</title>
	</head>
	<body>
		
<h1>App</h1>
<p>
	This is the about page for my first Web application using RoR
</p>
</body>
</html>